@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.top-left-links {
  display: flex;
  gap: 10px;
}

.top-right-links {
  display: flex;
  gap: 10px;
}

.footer {
  background-color: #eeeeee;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 10px;
}

.right-links {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.buttons {
  padding: 10px;
}