body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;;
  display: block;
  text-align: center;
  margin: 16px;
  padding: 6px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;